<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <script src="../../static/component/jquery-2.2.4.js"
            th:src="@{/component/jquery-2.2.4.js}"></script>
    <script src="../../static/component/bootstrap-3.3.7/js/bootstrap.js"
            th:src="@{/component/bootstrap-3.3.7/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="../../static/component/bootstrap-3.3.7/css/bootstrap.css"
          th:href="@{/component/bootstrap-3.3.7/css/bootstrap.css}">
</head>
<body>
this is list
</body>
</html>